-- Function to get artists by names
CREATE OR REPLACE FUNCTION get_artists_by_names(p_names TEXT[])
RETURNS TABLE(
    id UUID, 
    name TEXT, 
    spotify_id TEXT, 
    spotify_link TEXT, 
    popularity NUMERIC, 
    image_url TEXT
) AS &&
BEGIN
    RETURN QUERY
    SELECT a.id, a.name, a.spotify_id, a.spotify_link, a.popularity, a.image_url
    FROM artists a
    WHERE LOWER(a.name) = ANY(LOWER(p_names::TEXT)::TEXT[]);
END;
&& LANGUAGE plpgsql;
